html, body {
    margin: 0;
}
body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: aquamarine;
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 15%;
    background-color: rgb(60, 125, 255);
    padding: 10px 20px 0px;
}
    .header {
        min-height: 150px;
        background: no-repeat center/100% url("https://image.slidesdocs.com/responsive-images/background/medical-icon-doctors-simple-powerpoint-background_d435c167cc__960_540.jpg")
    }
.content {
    background-color: rgb(52, 52, 52);
    min-height: 300px;
    padding: 20px;
}
.footer {
    background-color: rgb(52, 52, 52);
    min-height: 50px;
}